body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; /**/
    line-height: 1.5; /*interlineado*/
    background-color: lightgreen; /**/
    color: white;
}

h1 {
    text-align: center;
    color: darkslategrey;
}

.container{
    margin-top: 30p ;
    margin-bottom: 30px; /**/
    width: 30%; /*ACA ESTABLECE EL ANCHO*/
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;

}

.tareas{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    width: 300px;
    outline: none;
}
.btn-add {
    padding: 5px 15px;
    color: white;
    border: none; /*none le quita la propiedad*/
    font-family: fantasy;
    background-color: blue;
    font-size: 1.4rem;
    outline: none;
}
.empty {
    color: darkslategrey;
}

ul  {
    padding: 0;
}

li {

}

/*el li p se agrega por herencia*/
li p {

}

.btn-delete{
    padding: 5px 15px;
    color: white;
    border: none; /*none le quita la propiedad*/
    font-family: fantasy;
    background-color: red;
    font-size: 1.4rem;
    outline: none;
}