body {
    margin: 10;
    display: flex;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /**/
    line-height: 1.5;
    /*interlineado*/
    background-color: lightgreen;
    /**/
    color: white;
}

h1 {
    text-align: center;
    color: darkslategrey;
}

.container {
    margin-top: 30p;
    margin-bottom: 30px;
    /**/   
    width: 30%;
    /*ACA ESTABLECE EL ANCHO*/
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;

}

.tareasList {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;     
}

input {
    border-radius: 10px;
    padding: 15 px 10px;
    width: 300px;
    outline: none;  
}

.btn-add {
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    /*none le quita la propiedad*/
    font-family: fantasy;
    background-color: blue;
    font-size: 1.4rem;
    outline: none;
}

.empty {
    color: darkslategrey;
    justify-content: center;
}

ul {
    padding: 0;
}

li {
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 240, 242);
    margin: 8px auto;
    max-width: 340px;

}

/*el li p se agrega por herencia*/
li p {
    display: inline;
    color: rgb(0, 0, 0);
    padding-left: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-delete {
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    /*none le quita la propiedad*/
    font-family: fantasy;
    background-color: green;
    font-size: 2rem;
    outline: none;
}
.btn-delete:hover {
    background-color: red;
  }

.btn-mostrar-borradas {
    background-color: #319b00;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn-mostrar-borradas:hover {
    background-color: #0edf18;
  }